<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace=""><!-- dao层地址 -->
    <select id="" parameterType="" resultType="">

    </select>
    <select id="" resultType="">

    </select>

    <select id="" resultMap="">

    </select>

    <insert id="" parameterType="">

    </insert>
    <update id="">

    </update>
    <delete id="" parameterType="">

    </delete>


    <resultMap id="" type="">
        <id property="" column=""/>
        <result property="" column=""/>
    </resultMap>

    <resultMap type="" id="">
        <id property="" column=""/>
        <result property="" column=""/>
        <association property="" javaType="">
            <id property="" column=""/>
            <result property="" column=""/>
        </association>
    </resultMap>

    <resultMap type="" id="">
        <id property="" column=""/>
        <result property="" column=""/>
        <collection property="" ofType="">
            <id property="" column=""/>
            <result property="" column=""/>
        </collection>
    </resultMap>

</mapper>